:root {
	--standard-gap: 16px;
}

body {
	background: var(--bg-main);
	color: var(--text-main);
	margin: 0;
	font-family: Roboto, sans-serif;
}

h1 {
	display: none;
}

button {
	font-family: inherit;
}
