.cropper-container {
	display: grid;
	grid-template-columns: 16fr 3fr 16fr;
	column-gap: 16px;
	padding: 0 16px;
}

.cropper-container .crop-channel--title {
	font-size: 1.625em;
	line-height: 1.5em;
}
