@import './colorscheme.css';

.take-control--container {
	height: 100%;
	padding: 0 10%;
	position: relative;
}

.take-control--button {
	border: transparent;
	border-radius: 5%;
	width: 80%;
	height: 3.5em;
	bottom: 0;
	font-size: 3em;
	background: var(--frame-dark);
	color: var(--text-main);
	position: absolute;
}
