.take-controls--container {
	display: flex;
}

.take-controls--button {
	width: 100%;
	margin: auto;
}

.take-controls--button:focus {
	outline: none;
}

.take-controls--button.take {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('../../assets/right.svg');

	border: 4px solid var(--control-light);
	border-radius: 100%;
	color: var(--control-light);

	height: 0;
	padding-bottom: 100%;
}

.take-controls--button.take .label {
	visibility: hidden;
}
