@import './colorscheme.css';

.take-control--container {
	padding: 0 20px;
}

.take-control--button {
	border: transparent;
	border-radius: 5%;
	width: 100%;
	height: 50%;
	bottom: 0;
	font-size: 3em;
	background: var(--frame-dark);
	color: var(--text-main);
}
