@import './colorscheme.css';

.take-control--container {
	height: 100%;
	padding: 0 10%;
	position: relative;
}

.take-control--button {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-image: url('../../assets/right.svg');

	border: 4px solid var(--control-light);
	border-radius: 100%;
	color: var(--control-light);

	position: absolute;
	bottom: 0;

	width: 80%;
	height: 0;
	padding-bottom: 80%;
	margin: auto;
}

.take-control--button .label {
	visibility: hidden;
}
