.cutout-window--container {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100%;
	opacity: 60%;
	position: relative;
	touch-action: none;
}

.cutout-window--container.crop916src169 {
	background-image: url('../../assets/passepartouts/9_16-from-16_9.svg');
}

.cutout-window--container.crop11src169 {
	background-image: url('../../assets/passepartouts/1_1-from-16_9.svg');
}

.cutout-window--frame {
	outline: 1px solid red;
	height: 100%;
	position: absolute;
}
