.cutout-window--container {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	outline: 1px solid blue;
	outline-offset: -1px;
	z-index: 1;
	height: 100%;
}

.cutout-window--container.crop916src169 {
	background: transparent url('../../assets/passepartouts/9_16-from-16_9.png');
}

.cutout-window--container.crop11src169 {
	background: transparent url('../../assets/passepartouts/1_1-from-16_9.png');
}

.cutout-window--frame {
	outline: 1px solid green;
	outline-offset: -2px;
	height: 100%;
	z-index: 10;
}
