.input-source-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-inline-start: 0;
}

.input-source-list--item {
	display: flex;
	flex-direction: column;
	padding: 0 16px 16px;
	width: 256px;
	cursor: pointer;
}

.input-source-list--item--thumbnail {
	width: 100%;
}

.input-source-list--item--title {
	width: 100%;
	background-color: var(--bg-light);
	color: var(--text-main);
	text-decoration: none;
	line-height: 1.5em;
}
