.input-source-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-inline-start: 0;
}

.input-source-list--item {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0 16px 16px;
	width: 256px;
	cursor: pointer;
	position: relative;
}

.input-source-list--item--thumbnail {
	width: 100%;
}

.input-source-list--item--title {
	width: 100%;
	background-color: var(--bg-light);
	color: var(--text-main);
	text-decoration: none;
	line-height: 1.5em;
}

.input-source-list--item--overlay {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.input-source-list--item--overlay::before {
	background-color: rgba(0, 0, 0, 0.6);
	line-height: 1.5em;
	width: 100%;
	text-align: center;
	display: block;
}

.input-source-list--current-preview .input-source-list--item--overlay {
	background-color: rgba(255, 255, 0, 0.5);
}

.input-source-list--current-preview .input-source-list--item--overlay::before {
	content: 'PREVIEW';
}

.input-source-list--current-program .input-source-list--item--overlay {
	background-color: rgba(255, 0, 0, 0.5);
}

.input-source-list--current-program .input-source-list--item--overlay::before {
	content: 'PROGRAM';
}
