.input-source-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	padding-inline-start: 0;
	background-color: var(--bg-sources);
	color: var(--text-main);
	margin: 0;
	padding: 16px;
}

.input-source-list--item {
	display: flex;
	flex: 1;
	flex-direction: column;
	padding: 0;
	margin: 0 56px 16px;
	cursor: pointer;
	position: relative;
}

.input-source-list--item--thumbnail {
	width: 100%;
}

.input-source-list--item--title {
	color: var(--text-main);
	width: 100%;
	background-color: inherit;
	text-decoration: none;
	line-height: 1.5em;
	text-align: center;
}

.input-source-list--item--overlay {
	position: absolute;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	line-height: 1.5em;
}

.input-source-list--item--overlay::before {
	background-color: var(--bg-sources);
	font-size: 1.625em;
	width: 100%;
	text-align: center;
	display: block;
}

.input-source-list--current-preview .input-source-list--item--overlay {
	outline: 1px solid var(--preview-color);
}

.input-source-list--current-preview .input-source-list--item--overlay::before {
	content: 'PREVIEW';
}

.input-source-list--current-program .input-source-list--item--overlay {
	outline: 1px solid var(--program-color);
}

.input-source-list--current-program .input-source-list--item--overlay::before {
	content: 'PROGRAM';
}
