/*
  WARNING: These class names are also used in the element definition script,
  and so they must be changed there if they are changed here.
*/
.video-display--container {
	border: 1px solid red;
	width: 100%;
	padding-top: 56.25%;
	position: relative;
	overflow: hidden;
}

.img {
	width: 512px;
	height: 288px;
	background: #000000;
}
