/*
  WARNING: These class names are also used in the element definition script,
  and so they must be changed there if they are changed here.
*/
.video-display--container {
	background: yellow;
	display: grid;
	grid-template-areas: 'video';
	overflow: hidden;
	position: relative;
	margin: 0 auto;

	/* placeholder size, will be overridden when actual video is loaded */
	width: 952px;
	height: 536px;
}

.video-display--container .ar-placeholder {
	width: 100%;
	grid-area: video;
}

.video-display--container .img {
	grid-area: video;
	position: absolute;
	transform-origin: top left;
}
